/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(135deg, #0d1b2a, #00aaff);
    color: #e5e5e5;
    line-height: 1.6;
    scroll-behavior: smooth;

    
}

/* Menú hamburguesa */
.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 2px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #0d1b2a;
        padding: 1rem;
        border-radius: 10px;
        width: 200px;
        text-align: center;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        pointer-events: none; /* Evita interacción cuando está cerrado */
    }

    .menu li {
        margin-bottom: 1rem;
    }

    .menu a {
        font-size: 1rem;
    }

    .menu-toggle:checked + .hamburger + .menu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto; /* Habilita interacción al abrir */
    }
}



/* Estilo para el encabezado y navegación */
header {
    background: url('encabezado.gif') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

.navbar {
    background-color: #0d1b2a; /* Azul oscuro */
    padding: 1rem;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;

}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;

}

.navbar a:hover {
    text-decoration: underline;

}




/* Sección Hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
}

.hero-content {
    display: flex;
    align-items: center;
    background-color: #0d1b2a; /* Azul oscuro */
    padding: 2rem;
    border-radius: 10px;
}

.hero-image {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-right: 2rem; /* Espacio entre la imagen y el texto */
}

.hero-text {
    text-align: left;
}

h1, p {
    margin: 0;
}


.photo {
    margin-right: 2rem;
}

.photo img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 4px solid #00aaff;
    transition: transform 0.3s ease-in-out;
}

.photo img:hover {
    transform: scale(1.1);
}

.hero-text {
    max-width: 600px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.hero-text h1 {
    font-size: 3rem;
    color: #00aaff;
}

.hero-text p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.hero-text:hover {
    opacity: 1;
    transform: translateY(0);
}

.btn {
    background: #00aaff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 1rem;
    transition: background 0.3s, box-shadow 0.3s ease-in-out;
}

.btn:hover {
    background: #0077cc;
    box-shadow: 0px 4px 15px rgba(0, 170, 255, 0.6);
}

/* Secciones */
section {
    padding: 2rem;
    max-width: 1000px;
    margin: 2rem auto;
    background-color: #2a2a2a;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

section:hover {
    transform: translateY(-10px);
}

/* Estilos para el pie de página */
footer {
    background-color: #0d1b2a;
    color: #e5e5e5;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 3rem;
}

/* Sección About */
#about h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#about h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}



/* Estilos de contacto */ 
.contact-section {
    background-color: #1a1a1a; /* Azul oscuro de fondo */
    padding: 3rem;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 170, 255, 0.5); /* Sombra para resaltar la sección */
    
}

.contact-section h2 {
    color: #e5e5e5; /* Color azul cian para el título */
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

.contact-section p {
    font-size: 1.2rem;
    color: #e5e5e5;
    margin-bottom: 2rem;
    line-height: 1.6;
}

/* Enlace de correo estilizado */
.email-link {
    color: #00aaff;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    background-color: #0d1b2a;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.email-link:hover {
    background-color: #0077cc;
    box-shadow: 0px 4px 15px rgba(0, 170, 255, 0.6); /* Efecto hover con sombra */
}

/* Iconos de redes sociales */
.social-media {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 2rem;
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2); /* Efecto de zoom al hacer hover */
    box-shadow: 0px 4px 15px rgba(0, 170, 255, 0.6); /* Sombra alrededor del icono */
}

/* Estilos de la sección Skills */
#skills {
    padding: 2rem;
    max-width: 1000px;
    margin: 2rem auto;
    background-color: #2a2a2a; /* Color de fondo de la sección */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

#skills:hover {
    transform: translateY(-10px); /* Elevar ligeramente la sección al hacer hover */
}

/* Títulos de la sección Skills */
#skills h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ffffff; /* Color azul */
}

#titulo h3 {
    font-size: 2rem; /* Tamaño más grande para los títulos de subsección */
    margin-bottom: 1rem;
    color: #00aaff; /* Color azul */
}


#skills h4 {
    font-size: 1.6rem; /* Aumentamos el tamaño */
    margin-bottom: 0.5rem;
    color: #0077cc; /* Color un poco más oscuro que los otros títulos */
    font-weight: bold; /* Hacerlo en negrita para mayor visibilidad */
    text-transform: uppercase; /* Poner en mayúsculas para mayor impacto */
    border-bottom: 2px solid #00aaff; /* Línea azul debajo del título */
    padding-bottom: 0.2rem;
}

/* Asegurar que las imágenes y los títulos de las tarjetas se ajusten al tamaño de la tarjeta */
.profile-card img {
    width: 80px; /* Ajusta el tamaño de la imagen */
    height: 80px; /* Cambia a un tamaño más pequeño */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

/* Asegurar que el texto de las tarjetas de habilidades esté en blanco y se ajuste sin romper palabras */
.profile-card h3, .profile-card p {
    font-size: 1rem; /* Ajustar el tamaño del texto */
    color: #ffffff; /* Cambia el color del texto a blanco */
    white-space: normal; /* Permitir que el texto ocupe varias líneas */
    word-wrap: normal; /* Evitar la ruptura forzada de palabras */
    overflow-wrap: break-word; /* Rompe solo si la palabra es muy larga */
    hyphens: auto; /* Habilitar guiones automáticos si es necesario */
    margin-top: 0.5rem;
}

/* Estilo de las tarjetas con interactividad */
.profile-card {
    background-color: #2a2a2a; /* Color de fondo */
    border: 2px solid #00aaff; /* Borde azul */
    border-radius: 10px;
    padding: 1rem; /* Padding interno */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto de hover */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta el número de columnas según el ancho */

}

/* Mantener el efecto hover */
.profile-card:hover {
    transform: translateY(-10px); /* Elevar ligeramente la tarjeta al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra al hacer hover */
}

/* Distribución de las tarjetas */
.profile-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 2rem;
}

/* Sección Formación */
#formacion h2 {
    font-size: 2.5rem; /* Tamaño del título principal "Formación" */
    margin-bottom: 1rem;
}

#formacion h3 {
    font-size: 1.8rem; /* Título "Formación Oficial", más pequeño que "Formación" */
    margin-bottom: 0.5rem;
    color: #00aaff; /* Mantiene el color azul */
}

#formacion li {
    font-size: 1.2rem; /* Texto de "Bachillerato LOMCE", más pequeño que el título */
    margin-bottom: 0.8rem;
}

.years-box {
    background-color: #1a1a1a; /* Fondo oscuro para el cuadro de años */
    border: 1px solid #00aaff; /* Borde azul */
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    margin-left: 10px;
}

.enseñanza-link {
    font-size: 1rem;
    margin-left: 10px;
    color: #00aaff; /* Color del enlace */
    text-decoration: none;
    border-bottom: 1px solid transparent; /* Añade una línea sutil bajo el enlace */
    transition: border-bottom 0.3s ease; /* Transición suave */
}

.instituto-link:hover {
    border-bottom: 1px solid #00aaff; /* Línea azul al pasar el ratón */
}

/* Responsividad */
@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
    }

    .hero-content {
        text-align: center;
        flex-direction: column;
    }

    .hero-text {
        margin-left: 0;
    }

    .project-cards {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        gap: 1rem;
    }

    .project-cards {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    .contact-section {
        padding: 2rem;
    }

    .hero-image {
        width: 120px;
    }

    .hero-text h1 {
        font-size: 2rem;
    }
    .project-card {
        padding: 1rem;
    }

    .project-card h3 {
        font-size: 1rem;
    }

    .project-card button {
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    .modal {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .hero-content {
        padding: 1rem;
    }

    .hero-image {
        width: 100px;
    }

    .project-card img {
        height: auto;
        margin-bottom: 0.5rem;
    }

    .project-card .buttons {
        gap: 0.5rem;
    }

    .modal {
        padding: 0.5rem;
    }

    .modal img {
        max-width: 100%; /* Asegura que las imágenes sean responsive en móviles */
    }
}

.honor-box {
    display: inline-block;
    color: white;
    font-size: 1,5rem;
    padding: 4px 8px;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #00aaff; /* Borde azul */
    transition: transform 0.3s ease, border-color 0.3s ease; /* Transición para la animación */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.honor-box:hover {
    transform: scale(1.05); /* Efecto de hover: ligeramente más grande */
    border-color: #0077cc; /* Borde azul más brillante al pasar el ratón */
}





body {
    font-family: Arial, sans-serif;
}

#projects {
    padding: 20px;
}


.project-cards {
    display: flex; /* Hace que los elementos se alineen en una fila */
    gap: 2rem; /* Agrega un poco de separación entre los proyectos */
    flex-wrap: wrap; /* Permite que los proyectos se ajusten en varias filas si es necesario */
    justify-content: center; /* Centra los proyectos en la página */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta automáticamente el número de columnas */

  }


.project-card.m2 {
    position: relative;
    width: 35vmin; /* Aumentamos el ancho */
    height: 45vmin; /* Reducimos la altura */
    background: linear-gradient(135deg, #1e1e24 10%, #050505 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px; /* Para bordes más suaves */
    animation: gradient-shift 5s ease-in-out infinite;
    background-size: 200% 200%;
    user-select: none;
  }
  
  .project-card.m2.proyecto-2 img {
    width: 90%; /* Tamaño reducido de la imagen */
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  .project-card.m2.proyecto-3 img {
    width: 50%; /* Tamaño de la imagen del Proyecto 3 */
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
   .project-card.m2.proyecto-7 img{
    width: 35%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
   }

  
  .project-card.m2 h3.logo {
    font-size: 2rem; /* Ajusta el tamaño del título */
    color: white;
    background-image: linear-gradient(to right, #626262, #fff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .project-card.m2 .btn {
    margin: 0.5rem 0;
    width: 80%;
    text-align: center;
  }


  
  .project-card.m2::before,
  .project-card.m2::after {
    --size: 5px;
    content: "";
    position: absolute;
    top: calc(var(--size) / -2);
    left: calc(var(--size) / -2);
    width: calc(100% + var(--size));
    height: calc(100% + var(--size));
    background: radial-gradient(circle at 0 0, hsl(27deg 93% 60%), transparent),
      radial-gradient(circle at 100% 0, #00a6ff, transparent),
      radial-gradient(circle at 0 100%, #ff0056, transparent),
      radial-gradient(circle at 100% 100%, #6500ff, transparent);
  }
  
  .project-card.m2::after {
    --size: 2px;
    z-index: -1;
  }
  
  .project-card.m2::before {
    --size: 10px;
    z-index: -2;
    filter: blur(2vmin);
    animation: blur-animation 3s ease-in-out alternate infinite;
  }

  
  @keyframes blur-animation {
    to {
      filter: blur(3vmin);
      transform: scale(1.05);
    }
  }
  
  @keyframes gradient-shift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  #projects h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ffffff; 
}


/* Estilo responsive para dispositivos pequeños */
@media (max-width: 768px) {
    .project-cards {
        flex-direction: column; /* Apilar las tarjetas verticalmente */
        align-items: center; /* Centrar las tarjetas */
        gap: 1.5rem; /* Separación entre tarjetas */
    }

    .project-card.m2 {
        width: 80%; /* Hacer las tarjetas más grandes en móviles */
        height: auto; /* Dejar que la altura se ajuste */
        padding: 1rem;
    }

    .project-card.m2 img {
        width: 100%; /* Las imágenes ocupan todo el ancho de las tarjetas */
        height: auto; /* Mantener la proporción de la imagen */
        margin-bottom: 1rem;
    }

    .project-card.m2 h3.logo {
        font-size: 1.2rem; /* Ajustar el tamaño del título */
    }

    .project-card.m2 .btn {
        font-size: 1rem; /* Hacer los botones más grandes */
        width: 100%; /* Los botones ocupan todo el ancho de la tarjeta */
    }
}










.project-card img {
    width: 100%;
    height: 300px;
}

.details-button,
.github-button,
.download-button {
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-toggle {
    display: none;
}

.modal-toggle:checked + .modal {
    display: block;
}

.modal-content {
    position: relative;
    background-color: #444;
    margin: 2% auto;
    padding: 20px;
    width: 95%;
    max-width: 1400px;
    border-radius: 8px;
    display: flex;
    color: #fff;
}

.carousel {
    position: relative;
    overflow: hidden;
    flex: 3;
    margin-right: 20px;
    height: 600px; /* Aumenta la altura del carrusel para más espacio */

}

.carousel-images {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}

.carousel-videos {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    overflow: hidden;
}

.carousel-images .image {
    min-width: 100%; /* Asegura que solo se vea una imagen a la vez en el carrusel */
    height: 560px; /* Ajusta esta altura según prefieras */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel-videos .video {
    min-width: 100%; /* Asegura que cada video ocupe el 100% */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; /* Asegura que los videos sean visibles */
    transition: opacity 0.5s ease-in-out;
}

.video {
    flex: 0 0 100%; /* Cada video ocupa el 100% del carrusel */
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%; /* Asegúrate de que los videos sean responsivos */
    height: auto; /* Mantén la proporción */
    max-height: 400px; /* Para evitar que se excedan del modal */
}


.carousel-images .image img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Asegura que la imagen se vea completa sin distorsión */


}



/* Estilos responsivos para móviles */
@media (max-width: 768px) {

    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
        background-color: #444;
        border-radius: 10px;
        color: #fff;
        margin: 0;
        padding: 0;
        
    }

    .carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0px;
        height: 50vh; /* La altura será 50% de la ventana */

        
    }


    /* Imagen ocupa todo el ancho */
    .carousel-images .image {
        width: 100%; /* Imagen al 100% del contenedor */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .carousel-images .image img {
        width: 100%; /* Asegura que la imagen sea responsiva */
        height: auto; /* Mantiene proporciones */
        object-fit: contain;
        
    }

    /* Botones debajo de la imagen */
    .prev-button, .next-button {
        margin: 10px 0; /* Espaciado entre botones */
        display: inline-block;
        text-align: center;
        padding: 10px 20px;
        width: auto; /* Tamaño ajustable de botones */
    }

    /* Descripción ocupa todo el ancho */
    .project-description {
        margin-top: 20px; /* Espaciado con respecto al carrusel */
        width: calc(100% - 40px); /* Ajusta al ancho total menos el padding */
        max-width: 100%; /* Evita desbordes */
    }

    /* Ajustes de los botones de navegación */
    .carousel-button {
        position: static;
        margin: 10px 0;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        padding: 8px 16px;
        border-radius: 5px;
        font-size: 14px; /* Tamaño de texto reducido en móviles */
        margin: 0; /* Elimina márgenes adicionales */
        display: inline-block; /* Evita que se comporten como bloques grandes */
    }


    .carousel-button:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .carousel, .project-description {
        margin: 0; /* Elimina márgenes */
        padding: 0; /* Elimina relleno */
    }
 
}



input[type="radio"] {
    display: none;
}

/* Configuración de la navegación de imágenes */
input[type="radio"]:nth-of-type(1):checked ~ .carousel-images {
    transform: translateX(0);
}

input[type="radio"]:nth-of-type(2):checked ~ .carousel-images {
    transform: translateX(-100%);
}

input[type="radio"]:nth-of-type(3):checked ~ .carousel-images {
    transform: translateX(-200%);
}

input[type="radio"]:nth-of-type(4):checked ~ .carousel-images {
    transform: translateX(-300%);
}

input[type="radio"]:nth-of-type(5):checked ~ .carousel-images {
    transform: translateX(-400%);
}

input[type="radio"]:nth-of-type(6):checked ~ .carousel-images {
    transform: translateX(-500%);
}

input[type="radio"]:nth-of-type(7):checked ~ .carousel-images {
    transform: translateX(-600%);
}

/* Indicadores del carrusel */
.carousel-indicators {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    gap: 8px;
}

.indicator {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
}

input[type="radio"]:nth-of-type(1):checked ~ .carousel-indicators label:nth-of-type(1),
input[type="radio"]:nth-of-type(2):checked ~ .carousel-indicators label:nth-of-type(2),
input[type="radio"]:nth-of-type(3):checked ~ .carousel-indicators label:nth-of-type(3),
input[type="radio"]:nth-of-type(4):checked ~ .carousel-indicators label:nth-of-type(4),
input[type="radio"]:nth-of-type(5):checked ~ .carousel-indicators label:nth-of-type(5),
input[type="radio"]:nth-of-type(6):checked ~ .carousel-indicators label:nth-of-type(6),
input[type="radio"]:nth-of-type(7):checked ~ .carousel-indicators label:nth-of-type(7) {
    background-color: #4CAF50; /* Color del círculo activo */
    box-shadow: 0 0 5px #4CAF50, 0 0 10px #4CAF50; /* Efecto de iluminación */
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.project-description {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    max-height: 700px;
    margin-left: 20px;
    text-align: justify;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
    font-size: 16px;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.btn {
    --color: #00aaff;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }

.btn:hover {
    color: var(--color2);
   }

   .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }
   .btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }

.github-button {
    margin: 5px 0;
}

.details-button {
    cursor: pointer;
}

.carousel-videos {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    overflow: hidden;
}

.carousel-videos .video {
    min-width: 100%; /* Cada video ocupa toda la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-videos video {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

#projects .section-title {
    font-size: 1.6rem; /* Aumentamos el tamaño */
    margin-bottom: 0.5rem;
    color: #0077cc; /* Color azul */
    font-weight: bold; /* Hacerlo en negrita para mayor visibilidad */
    border-bottom: 2px solid #00aaff; /* Línea azul debajo del título */
    padding-bottom: 0.2rem;
    text-transform: uppercase; /* Poner en mayúsculas para mayor impacto */

}




